<link rel="stylesheet" href="/css/nav/nav_bar.css">
<nav class="navbar">
  <div class="nav-inner">

    <div class="nav-left">
      <a href="/article/hot">Hot Topics</a>
      <a href="/article/all">All Articles</a>
      <a href="/article/new">New Question</a>
    </div>

    <div class="nav-right">
      <a href="/users/profile">Profile</a>
      <a href="/users/logout">Logout</a>
    </div>

  </div>
</nav>